body {
  margin: 0;
  font-family: "Georgia", serif;
  background-color: #f8f7ee;
}
/*Product List CSS*/

.product-page {
  padding: 60px 80px;
  text-align: center;
}

/* Title */
.product-title {
  font-size: 2rem;
  font-weight: bold;
  color: #1f1f1f;
  margin-bottom: 40px;
}

/* Grid layout */
.product-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
  gap: 40px;
  justify-items: center;
}

/* Card */
.product-card {
  width: 260px;
  background-color: #f5f4ed;
  border-radius: 15px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  transition: transform 0.3s ease;
}

.product-card:hover {
  transform: translateY(-6px);
}

/* Image */
.product-img {
  width: 100%;
  height: 230px;
  object-fit: cover;
}

/* Brand name text */
.brand-name {
  margin: 15px 0;
  font-size: 18px;
}

/* Specific brand colors */
.rolex {
  color: #006039;
  font-weight: bold;
}

.cartier {
  color: #c6002a;
  font-style: italic;
  font-weight: 500;
}

.ap {
  color: #1c1c1c;
  font-weight: 600;
}

.patek {
  color: #6c757d;
  font-weight: 600;
}

.product-card-link {
  text-decoration: none;
  color: inherit;
}

/* Product Details CSS
/* Main container */
.details-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 90vh;
  padding: 40px;
}

.details-card {
  display: flex;
  flex-direction: column;
  background-color: #f5f4ed;
  border-radius: 20px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
  max-width: 900px;
  width: 100%;
  overflow: hidden;
  transition: transform 0.3s ease;
}

.details-card:hover {
  transform: translateY(-4px);
}

/* Product image */
.details-image {
  flex: 1;
  text-align: center;
  background-color: #fff;
}

.details-image img {
  width: 100%;
  max-height: 450px;
  object-fit: cover;
}

/* Product info */
.details-info {
  flex: 1;
  padding: 30px;
  text-align: left;
}

.product-name {
  font-size: 1.8rem;
  font-weight: bold;
  margin-bottom: 15px;
  color: #222;
}

.product-price {
  font-size: 1.4rem;
  color: #006039;
  font-weight: bold;
  margin-bottom: 15px;
}

.product-description {
  font-size: 1rem;
  line-height: 1.6;
  color: #555;
  margin-bottom: 30px;
}

/* Back button */
.back-btn {
  text-decoration: none;
  background-color: #006039;
  color: white;
  padding: 10px 20px;
  border-radius: 8px;
  transition: background-color 0.3s ease;
}

.back-btn:hover {
  background-color: #004d2e;
}

/* Not found */
.not-found {
  flex-direction: column;
  text-align: center;
}

.not-found h2 {
  margin-bottom: 20px;
  color: #444;
}
